.home {
  .ipt {
    height: 100%;
    background-color: #f5f5f5;
  }

}

.reGoods {
  .box {
    background-color: #fff;
    width: 48%;
    margin: 20px 0;
    padding: 20px 0;
  }

  .cover {
    width: 80%;
    height: 200px;
  }
}